@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Permanent+Marker&display=swap");
@import url("./reset.scss");
@import url("./main.css");
@import url("./sub1.css");
@import url("./sub2.css");
@import url("./sub3.css");
@import url("./sub4.css");
html {
  font-size: 3vw;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html {
    font-size: 5vw;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html {
    font-size: 10.5vw;
  }
}

html body {
  overflow-x: hidden;
  font-size: 0.7vw;
  font-family: 'Noto Serif KR';
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body {
    font-size: 1.28vw;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body {
    font-size: 2.38vw;
  }
}

html body div.hdrWrap {
  width: 100%;
  height: min(2rem,80px);
  position: relative;
}

html body div.hdrWrap header {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 90;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.hdrWrap header {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.hdrWrap header {
    width: 90%;
    margin: 0 auto;
  }
}

html body div.hdrWrap header h1 {
  font-size: min(3.6em,36px);
  line-height: min(2rem,80px);
  font-family: "Noto Serif KR";
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.hdrWrap header h1 {
    font-size: max(1.8em,18px);
    line-height: max(0.5rem,20px);
  }
}

html body div.hdrWrap header ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.hdrWrap header ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    font-size: max(1.8em,18px);
    line-height: max(0.5rem,20px);
  }
}

html body div.hdrWrap header ul li {
  cursor: pointer;
  line-height: min(2rem,80px);
  font-size: min(2.2em,22px);
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.hdrWrap header ul li {
    display: none;
  }
}

html body div.hdrWrap header ul li:last-child {
  display: none;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.hdrWrap header ul li:last-child {
    display: block;
  }
}

html body div.hdrWrap div.navBox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  opacity: 0;
  z-index: -999;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

html body div.hdrWrap div.navBox ul {
  width: 50%;
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

html body div.hdrWrap div.navBox ul li {
  line-height: max(1rem,30px);
  font-size: max(1.8em,16px);
  position: relative;
  cursor: pointer;
}

html body div.hdrWrap div.navBox ul li:first-child {
  margin-top: max(1rem,30px);
}

html body div.hdrWrap div.navBox ul li:last-child {
  position: absolute;
  top: -5%;
  right: 0;
  left: 0;
}

html body div.hdrWrap div.navBox.show {
  z-index: 99;
  opacity: 1;
}

html body div.ftrWrap {
  background-color: #003399;
  color: #fff;
  margin-top: min(3rem,120px);
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.ftrWrap {
    margin-top: min(1rem,40px);
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap {
    margin-top: max(0.5rem,20px);
  }
}

html body div.ftrWrap footer {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: min(1rem,40px) 0;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.ftrWrap footer {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer {
    width: 90%;
    margin: 0 auto;
  }
}

html body div.ftrWrap footer div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid magenta;
  padding-bottom: min(0.5rem,20px);
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer div.top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

html body div.ftrWrap footer div.top h2 {
  font-size: min(3.6em,36px);
  line-height: min(1rem,40px);
  width: calc(100% / 3);
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.ftrWrap footer div.top h2 {
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer div.top h2 {
    width: 50%;
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
  }
}

html body div.ftrWrap footer div.top h3 {
  font-size: min(2.2em,22px);
  line-height: min(1rem,40px);
  font-family: "Noto Serif KR";
  width: calc(100% / 3);
  text-align: center;
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.ftrWrap footer div.top h3 {
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer div.top h3 {
    width: 50%;
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
  }
}

html body div.ftrWrap footer div.top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: min(4em,40px);
  width: calc(100% / 3);
  line-height: min(1rem,40px);
}

@media (min-width: 0px) and (max-width: 1024px) {
  html body div.ftrWrap footer div.top ul {
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer div.top ul {
    display: none;
  }
}

html body div.ftrWrap footer div.top ul li {
  margin-left: 10px;
}

html body div.ftrWrap footer div.btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: min(0.5rem,20px);
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap footer div.btm {
    display: none;
  }
}

html body div.ftrWrap footer div.btm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body div.ftrWrap footer div.btm ul li {
  border-right: 1px solid white;
  padding: 0 10px;
}

html body div.ftrWrap footer div.btm ul li:last-of-type {
  border: 0;
}

html body div.ftrWrap div.ftr2 {
  background-color: #003366;
  color: #fff;
  text-transform: uppercase;
  line-height: min(1rem,40px);
  text-align: center;
  font-size: min(2em,20px);
}

@media (min-width: 0px) and (max-width: 700px) {
  html body div.ftrWrap div.ftr2 {
    line-height: max(0.5rem,20px);
    font-size: max(1.3em,13px);
  }
}
/*# sourceMappingURL=index.css.map */