@mixin grid($dev){
    @if($dev=='pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else if($dev=='mob'){
        width: 90%;
    }
    margin: 0 auto;
}
@mixin img($p,$s){
    background-position: $p;
    background-size: $s;
    background-repeat: no-repeat;
    color: transparent;
}
@mixin mob {
    @media (min-width:0px) and (max-width:700px) {
        @content;
    }
}
@mixin tab {
    @media (min-width:0px) and (max-width:1024px) {
        @content;
    }
}

    div.mnWrap{
        width: 100%;
        overflow: hidden;
        margin-top: #{'max(-2rem,-80px)'};
        height: #{'min(17.5rem,700px)'};
        @include img(center,cover);
        @include tab{
            height: #{'max(8.5rem, 350px)'};
        }
        main{
            .mnGroup{
                width: 100%;
                position: relative;
                height: #{'min(17.5rem,700px)'};
                @include tab{
                    height: #{'max(8.5rem, 350px)'};
                }
                .mnImg{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @include img(center,cover);
                    top: 0;left: 0;
                    opacity: 0;
                    transition: opacity 1s;
                    &.on{
                        opacity: 1;
                    }
                    @for $i from 1 through 3{
                        &.i#{$i}{
                            background-image: url('./images/index_mn_img#{$i}.webp');
                        }
                    }
                }
    
            }
            .texts{
                position: absolute;
                @include grid('pc');
                margin: auto;
                top: #{'min(10.5rem,420px)'};
                left: 0;right: 0;
                display: flex;
                color: #fff;
                @include tab{
                    @include grid('tab');
                    top: #{'max(5rem,200px)'};
                }
                @include mob(){
                    @include grid('mob');
                }
                .num{
                    text-align: center;
                    h4{
                        font-size:  #{'min(2.4em,24px)'};
                        line-height: #{'min(1rem,40px)'};
                        @include tab{
                            font-size: #{'max(2.4em,20px)'};
                            line-height: #{'max(1rem,20px)'};
                        }
                    }
                    @include mob{
                        display: none;
                    }
                    .pagenation{
                        li{
                            width: 65%; 
                            height: #{'min(1.6em,16px)'};
                            background-color: #aaa; border-radius: 10px;
                            margin-top: 6px; cursor: pointer;
                            margin: 8px auto 0;
                            @include tab{
                                width: #{'max(50% , 15px)'};
                            }
                            &.clicked{
                                background-color: #fff;
                            }
                        }
                    }
    
                }
                .txtGroup{
                    width: calc(100% / 12 * 4);
                    margin-left: 20px;
                    @include tab{
                        width: 50%;
                    }
                    @include mob{
                        display: none;
                    }
                    h4{
                        font-size: #{'min(2.4em,24px)'};
                        line-height: #{'min(1rem,40px)'};
                        @include tab{
                            font-size: #{'max(2.4em,20px)'};
                            line-height: #{'max(1rem,20px)'};
                        }
                    }
                    p{
                        height:  #{'min(2rem,80px)'};
                        overflow: hidden;
                        line-height:  #{'min(0.5rem,20px)'};
                    }
                }
            }
        }
    }

    div.bar{
        header{
            @include grid('pc');
            font-size: #{'min(2.4em,24px)'};
            line-height: #{'min(2rem,80px)'};
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            color: #fff;
            @include tab{
                @include grid('tab');
                font-size: #{'min(1.8em,18px)'};
                line-height: #{'min(1rem,40px)'};
            }
        }
    }
    
    div.cntWrap{
        margin-top: #{'min(3rem,120px)'};
            overflow: hidden;
        @include tab{
            margin-top: #{'min(1rem,40px)'}; 
        }
        @include mob{
            margin-top: #{'max(0.5rem,20px)'}; 
        }
        .content{
            @include grid('pc');
            @include tab{
                @include grid('tab');
            }
            @include mob(){
                @include grid('mob');
            }
            header{
                h3{
                    font-size: #{'min(3em,30px)'};
                    line-height: #{'min(1rem,40px)'};
                    @include tab{
                        font-size: #{'max(1.6em,16px)'};
                        line-height: #{'max(0.5rem,20px)'};
                    }
                }
                h4{
                    font-size: #{'min(2.2em,22px)'};
                    line-height: #{'min(1rem,40px)'};
                    font-weight: 300;
                    @include mob(){
                        display: none;
                    }
                }
                p{
                    font-size:#{'min(1.8em,18px)'};
                    line-height:#{'min(0.5rem,20px)'};
                    @include mob(){
                        display: none;
                    }
                }
            }
            section{
                &>h3{
                    display: none;
                }
                overflow: hidden;
                margin-top: #{'min(2rem,80px)'};
                @include tab{
                    margin-top: #{'min(1rem,40px)'};
                }
                @include mob{
                    margin-top: #{'max(0.5rem,20px)'};
                }
                article{
                    &>h3{
                        display: none;
                    }
                }
            }
    
            &.cnt01{
                position: relative;
                header{
                    text-align: center;
                }
                section{
                    @include tab(){
                        overflow: visible;
                    }
                    .artGroup{
                        width: 200%;
                        margin-left: -33.33%;
                        display: flex;
                        justify-content: space-between;
                        @include tab{
                            width: 300%;
                            margin-left: -50%;
                        }
                        @include mob{
                            width: 150%;
                            margin-left: -25%;
                        }
                        article{
                            width: calc(100% / 6 - 20px);
                            height: #{'min(12rem,480px)'};
                            @include mob{
                                width: calc(100% / 4);
                                height: #{'max(4rem,160px)'};
                            }

                            position: relative;
                            z-index: 5;
                            .imgBottle{
                                width: 32.35%;
                                height: #{'min(8rem,320px)'};
                                position: absolute;
                                bottom: 0;
                                z-index: 5;
                                @include img(center, contain);
                                @include mob{
                                    width: 100%;
                                    height: 100%;
                                }
                                @for $i from 1 through 6{
                                    &.i#{$i}{
                                        background-image: url('./images/bottle#{$i}.webp');
                                    }
                                }
                                
                            }
                            .image{
                                width: 88.23%;
                                height: #{'min(11rem,440px)'};
                                @include mob{
                                    display: none;
                                }
                                position:absolute;
                                top: 0;
                                right: 0;
                                z-index: -1;
                                filter: blur(10px);
                                transition: filter 0.7s;
                                transform: rotate(20);
                                @include img(center, cover);
                                @for $i from 1 through 6{
                                    &.i#{$i}{
                                        background-image: url('./images/bg#{$i}.webp');
                                    }
                                }

                                @include tab{
                                    filter: blur(0);
                                }
                            }
                            &:hover .image{
                                filter: blur(0);
                            }
                            .texts{
                                position: absolute;
                                top: 40px;
                                right: 20px;
                                z-index: 3;
                                color: #fff;
                                text-shadow: 1px 1px 2px #000;
                                @include tab{
                                    top: 0;
                                    text-shadow: 1px 1px 2px magenta;
                                }
                                h2{
                                    font-size: #{'min(5em,50px)'};
                                    line-height: #{'min(5em,50px)'};
                                    text-align: right;
                                    font-style: italic;
                                    font-family: 'Permanent Marker';
                                    @include mob{
                                       display: none;
                                    }
                                }
                            }
                        }
                    }
                }
    
                ul{
                    width: 120%;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 55%;
                    left: -10%;
                    z-index: 1;
                    li{
                        background-image: url('./images/btn_bg.webp');
                        @include img(center,cover );
                        border-radius: 50%;
                        width: #{'min(5em,50px)'};
                        height: #{'min(5em,50px)'};
                        text-align: center;
                        line-height:#{'min(5em,50px)'};
                        font-size: #{'min(4em,40px)'};
                        color: #fff;
                        cursor: pointer;
                        @include tab{
                            display: none;
                        }
                    }
                }
            }
    
            &.cnt02{
                section{
                    @include tab{
                        overflow: visible;
                        margin-top: 0;
                    }
                    div.artGroup{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        height:#{'min(17rem,680px)'};
                        overflow: hidden;
                        row-gap: #{'min(0.5rem,20px)'};
                        transition: height 0.5s;
                        @include tab{
                           width: 200%;
                           margin-left: -50%;
                           height: auto;
                        }
                        @include mob(){
                            width: 400%;
                            height: auto;
                            margin-left: -100%;
                        }
                        article{
                            width: calc(50% - #{'min(1%,20px)'});
                            @include tab{
                                width: calc(25% - #{'min(1%,20px)'});
                            }
                            @include mob{
                                
                            }
                            .image{
                                height: #{'min(11rem,440px)'};
                                @include img(center, cover);
                                @for $i from 1 through 4{
                                    &.i#{$i}{
                                        background-image: url('./images/bg_cnt02_#{$i}.webp');
                                    }
                                }
                                @include tab{
                                    height: #{'min(7rem,280px)'}; 
                                }
                            }
                            .texts{
                                padding: #{'min(1rem,40px)'} #{'min(0.5rem,20px)'};
                                @include img(center, cover);
                                color: #000;
                                @for $i from 1 through 4{
                                    &.i#{$i}{
                                        background-image: url('./images/bg_txt_#{$i}.webp');
                                    }
                                }
                                h4{
                                    font-size: #{'min(2.4em,24px)'};
                                }
                                .btn{
                                    margin-top: #{'min(2.5em,25px)'};
                                    button{
                                        height: #{'min(3em,30px)'};
                                        line-height: #{'min(3em,30px)'};
                                        font-size: #{'min(1.4em,14px)'};
                                        text-transform: uppercase;
                                        border-radius: 20px;
                                        padding: 0 20px;
                                        border: 0;
                                        background-color: #999;
                                        color: #fff;
                                        cursor: pointer;
                                    }
                                    @include tab{
                                        display: none;
                                    }
                                }
                                p{
                                    background-image: linear-gradient(#{'min(1em,40px)'});
                                    margin-top: #{'min(1em,10px)'};
                                    cursor: default;
                                    font-size: #{'min(4em,40px)'};
                                    color: #ccc;
                                    cursor: pointer;
                                    @include mob(){
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                &>.btn{
                    width: calc(100% / 12);
                    min-width: 180px;
                    margin: #{'min(1rem,40px)'} auto 0;
                    @include tab{
                        display: none;
                    }
                        button{
                            width: 100%;
                            border-radius: 7px;
                            border: 0;
                            line-height: #{'min(1rem,40px)'};
                            text-align: center;
                            background-color: rgba(255,255,255,0.9);
                            font-size: #{'min(1.8em,18px)'};
                            cursor: pointer;
                            background-image: url('./images/btn_bg.webp');
                            font-family: 'Noto Serif KR';
                        }
                }
            }
    
    
            &.cnt03{
                display: flex;
                justify-content: space-between;
                @include tab{
                    display: block;
                }
                header{
                    width: calc(100% / 12 * 3);
                    text-align: left;
                    @include tab{
                        width: 100%;
                        button{
                            display: none;
                        }
                    }
                    p{
                        height: #{'min(1rem,40px)'};
                        line-height: #{'min(0.5rem,20px)'};
                        overflow: hidden;
                        margin-top: #{'min(1rem,40px)'};
                        @include tab{
                            height: #{'max(1rem,40px)'};
                            line-height: #{'max(0.5rem,20px)'};
                        }
                    }
                    button{
                        margin-top: #{'min(1rem,40px)'};
                        background-image: url('images/btn_bg.webp');
                        border-radius: 5px;
                        transition-property: background-image,color;
                        transition-duration: 0.5s;
                        border: 0;
                        line-height: #{'min(1rem,40px)'};
                        width: 59%;
                        cursor: pointer;
                    }
                }
                section{
                    width: calc(100% / 12 * 8);
                    overflow: unset;
                    margin-top: 0;
                    @include tab{
                       margin-top: #{'min(1rem,40px)'};
                       width: 100%;
                    }
                    @include mob{
                        margin-top: 0;
                    }
                    .sectWrap{
                        width: calc((100vw - 1080px) / 2 + 100%);
                        max-width: 1000px;
                        min-width: calc((100vw - 80vw) / 2 + 100%);
                        height: 100%;
                        overflow: hidden;
                        @include tab{
                            width: 100%;
                            overflow: visible;
                         }
                        .artGroup{
                            width: 175%;
                            // max-width: 1700px;
                            display: flex;
                            justify-content: space-between;
                            margin-left: -25%;
                            @include tab{
                                width: 140%;
                                margin-left: -20%;
                             }
                            article{
                                width: calc(100% / 7 - min(1.8%, 20px));
                                min-width: none;
                                .image{
                                    height: #{'min(5rem,200px)'};
                                    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
                                    border-radius: 50%;
                                    @include tab{
                                        // height: #{'max(5rem,200px)'};
                                        box-shadow: 2px 2px 4px rgba(0,0,0,0);
                                        border-radius: 0;
                                    }
                                    @include img(center, contain);
                                    @for $i from 1 through 7{
                                        &.i#{$i}{
                                        background-image: url('./images/bottle#{$i}.webp'); 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .bnrWrap{
        margin-top: #{'min(3rem,120px)'};
        padding: #{'min(3rem,120px)'} 0;
        @include img(center,cover);
        @include tab{
            margin-top: #{'min(1rem,40px)'};
            padding: #{'min(1rem,40px)'} 0;
        }
        @include mob{
            margin-top: #{'max(1rem,20px)'};
        }
        .banner{
            @include grid('pc');
            text-align: center;
            color: #000;
            @include tab{
                @include grid('tab');
            }
            h3{
                font-size: #{'min(3em,30px)'};
                line-height: #{'min(1rem,40px)'};
                @include tab{
                    font-size: #{'max(1.6em,16px)'};
                    line-height: #{'max(0.5rem,20px)'};
                }
            }
            h4{
                font-size: #{'min(1.8em,18px)'};
                line-height: #{'min(1rem,40px)'};
                @include tab{
                    font-size: #{'min(1.4em,14px)'};
                    line-height: #{'max(0.5rem,20px)'};
                }
            }
            p{
                width: 75%;
                margin: #{'min(0.5rem,20px)'} auto 0;
                font-size: #{'min(1.4em,14px)'};
                line-height: #{'min(0.5rem,20px)'};
                @include tab{
                    font-size: #{'max(1.2em,12px)'};
                    line-height: #{'max(0.5rem,20px)'};
                    height: #{'max(1rem,40px)'};
                    overflow: hidden;
                }
            }
            .btn{
                width: calc(100% / 12);
                border-radius: 7px;
                min-width: 180px;
                margin: #{'min(1rem,40px)'} auto 0;
                line-height: #{'min(1rem,40px)'};
                text-align: center;
                background-color: rgba(255,255,255,0.9);
                font-size: #{'min(2em,20px)'};
                cursor: pointer;
                @include mob{
                    margin-top:  #{'max(0.5rem,20px)'};
                    line-height: #{'max(0.5rem,20px)'};
                    font-size: #{'max(1.3em,13px)'};
                }
            }
            form{
                margin: 0 auto;
                margin-top: #{'min(1rem,40px)'};
                display: flex;
                width: 50%;
                justify-content: space-between;
                @include tab{
                    width: 90%;
                }
                @include mob{
                    display: none;
                }
                input{
                    border:0;
                    line-height: #{'min(1rem,40px)'};
                    height:  #{'min(1rem,40px)'};
                    &:nth-child(1){
                        width: 15%;
                    }
                    &:nth-child(2){
                        width: 65%;
                        background-color: rgba(255,255,255,0.8);
                    }
                    &:nth-child(3){
                        width: 15%;
                        cursor: pointer;
                    }
                }
            }
        }
        @for $i from 1 through 2{
            &.bnr0#{$i}{
                background-image: url('./images/index_banner#{$i}_bg.webp');
            }
        }
    }
