@charset "UTF-8";
.page.sub1 div.mnWrap {
  background-image: url("./images/sub1_mn.jpg");
}

.page.sub1 div.bar {
  background-color: rgba(204, 102, 102, 0.7);
}

.page.sub1 div.cnt01 header .btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 header .btnGroup {
    row-gap: max(1em,10px);
  }
}

.page.sub1 div.cnt01 header .btnGroup button {
  width: calc(100% / 6 - 20px);
  font-size: min(2em,20px);
  line-height: min(1rem,40px);
  text-transform: uppercase;
  border: 0;
  background-image: url("./images/btn_bg2.jpg");
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .page.sub1 div.cnt01 header .btnGroup button {
    font-size: max(1.4em,14px);
    line-height: max(0.5rem,20px);
    width: calc(100% / 6 - 1%);
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 header .btnGroup button {
    width: calc(100% / 3 - 1%);
  }
}

.page.sub1 div.cnt01 header h4 {
  text-transform: uppercase;
  color: #f66;
  font-weight: 700;
  margin-top: min(1rem,40px);
}

.page.sub1 div.cnt01 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: min(1rem,40px);
  grid-row-gap: min(1rem,40px);
}

.page.sub1 div.cnt01 section article {
  position: relative;
  -webkit-transition: opacity 0.5s,width 0.5s 0.5s, height 0s 0.5s;
  transition: opacity 0.5s,width 0.5s 0.5s, height 0s 0.5s;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.page.sub1 div.cnt01 section article.show {
  opacity: 1;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 section article.show {
    width: calc(50% - 1%);
    margin-left: 1%;
  }
}

.page.sub1 div.cnt01 section article .image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  height: min(7rem,280px);
  width: 100%;
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 section article .image {
    height: max(5rem,200px);
  }
}

.page.sub1 div.cnt01 section article .image.i1 {
  background-image: url("./images/bottle1.png");
}

.page.sub1 div.cnt01 section article .image.i2 {
  background-image: url("./images/bottle2.png");
}

.page.sub1 div.cnt01 section article .image.i3 {
  background-image: url("./images/bottle3.png");
}

.page.sub1 div.cnt01 section article .image.i4 {
  background-image: url("./images/bottle4.png");
}

.page.sub1 div.cnt01 section article .image.i5 {
  background-image: url("./images/bottle5.png");
}

.page.sub1 div.cnt01 section article .image.i6 {
  background-image: url("./images/bottle6.png");
}

.page.sub1 div.cnt01 section article .image.i7 {
  background-image: url("./images/bottle7.png");
}

.page.sub1 div.cnt01 section article .image.i8 {
  background-image: url("./images/bottle8.png");
}

.page.sub1 div.cnt01 section article .image.i9 {
  background-image: url("./images/bottle9.png");
}

.page.sub1 div.cnt01 section article .image.i10 {
  background-image: url("./images/bottle10.png");
}

.page.sub1 div.cnt01 section article .image.i11 {
  background-image: url("./images/bottle11.png");
}

.page.sub1 div.cnt01 section article .image.i12 {
  background-image: url("./images/bottle12.png");
}

.page.sub1 div.cnt01 section article .texts {
  text-align: center;
  line-height: min(1rem,40px);
  font-size: min(2.4em,24px);
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 section article .texts {
    line-height: max(0.5rem,20px);
    font-size: max(1.5em,15px);
  }
}

.page.sub1 div.cnt01 section article .texts h5 {
  font-size: min(1.8em,18px);
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 section article .texts h5 {
    line-height: max(0.5rem,20px);
    font-size: max(1.2em,12px);
  }
}

.page.sub1 div.cnt01 section article .texts h6 {
  font-size: min(2.5em,25px);
  cursor: pointer;
  color: #ccc;
}

.page.sub1 div.cnt01 section article .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.page.sub1 div.cnt01 section article .btn button {
  height: min(2.5rem,90px);
  width: min(2.5rem,90px);
  border-radius: 50%;
  font-size: min(1rem,40px);
  line-height: min(2.5rem,90px);
  margin: 0 10px;
  background-color: rgba(204, 102, 102, 0.7);
  border: 0;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .page.sub1 div.cnt01 section article .btn button {
    height: max(2.5rem,90px);
    width: max(2.5rem,90px);
    font-size: max(1rem,40px);
    line-height: max(2.5rem,90px);
  }
  .page.sub1 div.cnt01 section article .btn button:first-child {
    display: none;
  }
}

.page.sub1 div.cnt01 section article:hover .image {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.page.sub1 div.cnt01 section article:hover .btn {
  opacity: 1;
}

.page.sub1 div.cnt01 section article.like {
  background-color: rgba(204, 102, 102, 0.1);
}

.page.sub1 div.cnt01 section article.like::before {
  content: '❤';
  text-shadow: 1px 1px 4px rgba(204, 102, 102, 0.7);
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: min(1rem, 40px);
  color: rgba(204, 102, 102, 0.7);
}

@media (min-width: 0px) and (max-width: 700px) {
  .page.sub1 div.cnt01 section article.like::before {
    font-size: max(1rem, 20px);
  }
}

.page.sub1 div.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: -5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.page.sub1 div.lightBox .cnt01 {
  width: 50%;
  height: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.page.sub1 div.lightBox .cnt01 video {
  width: 100%;
}

.page.sub1 div.lightBox .cnt01 button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.page.sub1 div.lightBox.checked {
  opacity: 1;
  z-index: 1;
}
/*# sourceMappingURL=sub1.css.map */